@import '../scss/cbbb.scss';
@import 'true';

@include test-module('Utilities') {
  @include test('-cbbb-evaluate-at-t') {
    $axis-values: 0, -0.3, 1.2, 1;
    $t: 0.5;

    $expected: 0.4625;

    @include assert-equal(-cbbb-evaluate-at-t($axis-values, $t), $expected, 'evaluates the axis values at t');
  }

  @include test('-cbbb-bounding-box-from-control-list') {
    $control-points: -0.2, 0.4, 0.6, 1.2;
    $expected-bounding-box: (x-min: -0.031571692801201076, x-max: 1, y-min: 0, y-max: 1.031571692801201);

    @include assert-equal(-cbbb-bounding-box-from-control-list($control-points), $expected-bounding-box, 'generates a bounding box from a flat list of control points');
  }

  @include test('-cbbb-min-max-y-from-control-list') {
    $control-points: 0.6, -0.1, 1, 1.9;
    $expected-min-max: -0.0036419595131606986, 1.2334019595131607;

    @include assert-equal(-cbbb-min-max-y-from-control-list($control-points), $expected-min-max, 'calculates the minimum and maximum y values');
  }
}

@include report;
