@import '../scss/cbbb.scss';
@import 'true';

@include test-module('Utilities') {
  @include test('-cbbb-point-maps-from-control-list') {
    $control-points: 1, 2, 8, 9;

    @include assert-equal(-cbbb-point-maps-from-control-list($control-points), ((x: 0, y: 0), (x: 1, y: 2), (x: 8, y: 9), (x: 1, y: 1)), 'generates a list of point maps from a flat list of control points');
  }

  @include test('-cbbb-evaluate-at-t') {
    $axis-values: 0, -0.3, 1.2, 1;
    $t: 0.5;

    $expected: 0.4625;

    @include assert-equal(-cbbb-evaluate-at-t($axis-values, $t), $expected, 'evaluates the axis values at t');
  }

  @include test('-cbbb-bounding-box-from-control-list') {
    $control-points: -0.2, 0.4, 0.6, 1.2;
    $expected-bounding-box: (min-x: -0.031571692801201076, max-x: 1, min-y: 0, max-y: 1.031571692801201);

    @include assert-equal(-cbbb-bounding-box-from-control-list($control-points), $expected-bounding-box, 'generates a bounding box from a flat list of control points');
  }
}

@include report;
